
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Found</title>
</head>
<body>
    <div> 
        Customer found ! It is @ViewBag.Name and is @ViewBag.Age years old.
    </div>
</body>
</html>
