
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        This is the index main view <span style="color:red">@ViewBag.name</span> !
    </div>
</body>
</html>
